* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
  line-height: 1.6;
  background-color: #f0c695;
  color: #333;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.site-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fdd9a0;
  padding: 0.5rem 0; 
  border-bottom: 3px solid #fbbf77;
}



.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 100px; 
  height: 100px; 
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}

h1 {
  font-size: 2rem;
  color: #924f16;
}

.nav a {
  margin-left: 1rem;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s;
}

.nav a:hover {
  color: #c87100;
}

.hero {
  margin-top: 4rem; 
}


.hero h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.btn {
  display: inline-block;
  background-color: #ff9248;
  color: rgb(0, 0, 0);
  padding: 0.7rem 1.5rem;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #e27830;
}

.destacados {
  padding: 3rem 0;
  background-color: #fff1e6;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.card {
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: auto;
}

.card h3 {
  font-size: 1.3rem;
  margin: 1rem 0 0.5rem;
  color: #cf6600;
}

.card p {
  padding: 0 1rem 1rem;
  font-size: 0.95rem;
}

.card a {
  display: inline-block;
  margin-bottom: 1rem;
  color: #ff7a00;
  font-weight: bold;
  text-decoration: none;
}

.card a:hover {
  text-decoration: underline;
}

.footer {
  background-color: var(--primary-color);
  padding: 5px 20px;
  color: #000;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  gap: 200px;
}

.footer-column {
  text-align: center;
  flex: 1 1 250px;
}

.footer-column h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  font-weight: bold;
}

.logo-column img {
  max-width: 100px;
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.social-icons a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: transform 0.3s;
}

.social-icons a:hover {
  transform: scale(1.1);
}

.social-icons i {
  font-size: 24px;
  color: #000000;
}

.legal {
  font-size: 0.9rem;
  text-align: center;
  margin-top: 30px;
  color: #333;
}
